<p class="site-intro">
	A bunch of 4 maniacs and lazy ass puzzle enthusiasts with a highly sophisticated clientele. We particularly love making and breaking ciphers. We don't aim to achieve something constructive with this note. One of our guys - Skywalker wanted to put up a lame web note and tell the world that we exist so we have this. Some of our public work will probably be coming up below as posts.
</p>

<p>
	Send in your queries and puzzle requests to <a href="mailto:xxxx@xxxx.com">xxxx@xxxx.com</a>. Don't frown, that was for the bots. You can decipher our email address using this text: <b>C2wacZMmg3S1AAGHbIBtt2FbGW5afy==</b>. Decode with Vigenére cipher using <b>electroencephalograph</b> as the key (with the plain alphabet) and then base64 decode the output.
</p>

<p>
	List of founders (lame aliases):
	<ul>
		<li>Doctor Ford</li>
		<li>Professor Kitkat</li>
		<li>Duke Skywalker</li>
		<li>Lord Moriarty</li>
	</ul>
</p>
