We're a bunch of maniacs and lazy ass puzzle enthusiasts with a highly sophisticated clientele.
We particularly love making and breaking ciphers.
Most of our work is tied to government organizations all over the world, but some of our public work will probably be coming up below as posts.

<br><br>

If you want us to have a look at your case, send in your request to <a href="mailto:xxxx@xxxx.com">xxxx@xxxx.com</a>. Don't frown, that was for the bots.
Recently bots have become smart and can figure out email addresses in images as well as js-obfuscated web pages.

<br><br>

You can decipher our email address using this text: <b>C2wacZMmg3S1AAGHbIBtt2FbGW5afy==</b>.
Decode with Vigenére cipher using <b>electroencephalograph</b> as the key (with the plain alphabet) and then base64 -d the output.

<br><br>

One thing we absolutely hate is spam. What counts as spam?
<ul>
	<li>Advertisement and marketing emails</li>
	<li>Requesting endorsement for a product</li>
	<li>Recruitment offers</li>
</ul>

<br>

If you spam us, we'll find you and make your life hell. We are not looking for jobs in cybersecurity, and you cannot possibly pay us more than we earn.
